<%- include('../partials/header'); -%>
<%- include('../partials/main_nav'); -%>
<body style="background-image: url('pink.jpg');">

<main class="container">
<div class="row">
    <div class="col-md-offset-3 col md-8">
        <h1>Contact List</h1>
        <%if(typeof displayName =='string' && displayName){%>
        <a href="/bookList/add" class="btn btn-primary" role="button">
            <i class ="fas fa-plus-circle"></i>Add a Contact</a>
            <%}%>
        <br>
        
         <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
            
            <table class="sortable table table-bordered table-striped table-hover">
            <tr>
                <th class="sortable text-content col-2">Name</th>
                <th class="text-content col-2">Email</th>
                <th class="text-content col-1">Contact Number</th>
                <%if(typeof displayName =='string' && displayName){%>
                <th class="text-content col-1"></th>
                <th class="text-content col-1"></th>
                <%}%>
                </tr>
           <% for(let count = 0; count<BookList.length; count++){ %>
            <tr>
                <td class = "sortable text-center col-2"><%=BookList[count].name%></td>
                <td class = "text-center col-2"><%=BookList[count].email%></td>
                <td class = "text-center col-1"><%=BookList[count].contact%></td>
                <%if(typeof displayName =='string' && displayName){%>
                <td class ="text-center col-1"><a href="/bookList/edit/<%=BookList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                <td class ="text-center col-1"><a href="/bookList/delete/<%=BookList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>    
            <%}%>
            </tr>
                <%}%>
            </table>

        </div>
    </div>
    </main>
</body>
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>