<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>
<!-- Julia Ong Oh 301185511 Oct 23 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa&family=Great+Vibes&display=swap" rel="stylesheet">


<body style="background-image: url('pink.jpg');"></body>

  
  <h1 style="margin-left: 45%;color: #fffef2;"><%= title %></h1>
  <hr>


<img src="https://cdn130.picsart.com/309721067023211.png?to=crop&type=webp&r=1456x1456&q=85" style="margin-left: 43%; padding:10px;" height="200px">
<p style="margin-left: 40%; font-family: 'Comfortaa', cursive;">C# and Java Programming | HTML and CSS</p>
<img src="https://cdn-icons-png.flaticon.com/512/6867/6867291.png" style="margin-left: 43%; padding:10px;" height="200px">
   <%-include ('partials/bottom_nav.ejs');%>
<%-include ('partials/footer.ejs');%>   


